flows(6).json
[
    {
        "id": "23535f1657c6ea9e",
        "type": "tab",
        "label": "dash",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "4f80bafe1d2212d3",
        "type": "tab",
        "label": "kalibrasi",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "65ac8e2751a7ef45",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "test",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "e222b6ea4f71147c",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "2294a0017e92d6cc",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#aec7e8",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "d902cc9563c63eeb",
        "type": "ui_group",
        "name": "grup1",
        "tab": "e222b6ea4f71147c",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a73858e5fb2482fb",
        "type": "ui_group",
        "name": "Default",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "3364b72709d71194",
        "type": "ui_group",
        "name": "Group 2",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": 6
    },
    {
        "id": "53f05079ac90f9b1",
        "type": "ui_group",
        "name": "grup2",
        "tab": "e222b6ea4f71147c",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "81707454616d1043",
        "type": "ui_group",
        "name": "metadata",
        "tab": "e222b6ea4f71147c",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "21e450d9a2d822a7",
        "type": "ui_group",
        "name": "buttons",
        "tab": "e222b6ea4f71147c",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "e3f833f34e505ad4",
        "type": "ui_tab",
        "name": "test random value auto",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "cb9e59c850f133b9",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "e3f833f34e505ad4",
        "order": 1,
        "disp": true,
        "width": 6
    },
    {
        "id": "f09b60ee7d1781e1",
        "type": "debug",
        "z": "23535f1657c6ea9e",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 300,
        "y": 60,
        "wires": []
    },
    {
        "id": "3973fb69fb2972f6",
        "type": "mqtt in",
        "z": "23535f1657c6ea9e",
        "name": "",
        "topic": "sensor1",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "65ac8e2751a7ef45",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 120,
        "wires": [
            [
                "f09b60ee7d1781e1",
                "dcb0ebf7b8877486",
                "1bfdef28491b7150",
                "554eb5f2daeb956e"
            ]
        ]
    },
    {
        "id": "dcb0ebf7b8877486",
        "type": "ui_chart",
        "z": "23535f1657c6ea9e",
        "name": "",
        "group": "d902cc9563c63eeb",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "gauge_1 sensor",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#ff9896",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 540,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "a04b225c3b7d77b4",
        "type": "mqtt in",
        "z": "23535f1657c6ea9e",
        "name": "",
        "topic": "sensor2",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "65ac8e2751a7ef45",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 540,
        "wires": [
            [
                "46c20ff0bdb0199b",
                "186020b1e9f5e704",
                "0a68932d42ce6e7c",
                "fd0a42f44f39e558"
            ]
        ]
    },
    {
        "id": "46c20ff0bdb0199b",
        "type": "ui_gauge",
        "z": "23535f1657c6ea9e",
        "name": "",
        "group": "53f05079ac90f9b1",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "preasure",
        "label": "kg/n",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#fcaf3e",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 600,
        "y": 500,
        "wires": []
    },
    {
        "id": "186020b1e9f5e704",
        "type": "ui_chart",
        "z": "23535f1657c6ea9e",
        "name": "",
        "group": "53f05079ac90f9b1",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "gauge_2 sensor",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 560,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "30bc1c2fa498a146",
        "type": "ui_form",
        "z": "23535f1657c6ea9e",
        "name": "",
        "label": "form_metadata",
        "group": "81707454616d1043",
        "order": 0,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Nama",
                "value": "nama",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Tanggal",
                "value": "tanggal",
                "type": "date",
                "required": true,
                "rows": null
            },
            {
                "label": "Pengujian",
                "value": "pengujian",
                "type": "text",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "nama": "",
            "tanggal": "",
            "pengujian": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "x": 760,
        "y": 120,
        "wires": [
            [
                "8b3dedb813bdec55"
            ]
        ]
    },
    {
        "id": "8b3dedb813bdec55",
        "type": "debug",
        "z": "23535f1657c6ea9e",
        "name": "metadata",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1000,
        "y": 120,
        "wires": []
    },
    {
        "id": "47b42a7a24974a1e",
        "type": "file",
        "z": "23535f1657c6ea9e",
        "name": "data_json",
        "filename": "/home/epiphany/node-red-project/data.pdf",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 840,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "daea6d2131bc3e7e",
        "type": "pdf-red",
        "z": "23535f1657c6ea9e",
        "name": "pdf_write",
        "options": "advanced",
        "pdf": true,
        "text": false,
        "dpi": 150,
        "useTesseract": false,
        "tessCommandCall": "tesseract",
        "tessCommand": "",
        "language": "eng",
        "imageFolder": "",
        "returnPng": false,
        "outputs": 1,
        "x": 1780,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "1bfdef28491b7150",
        "type": "html-to-pdf",
        "z": "23535f1657c6ea9e",
        "name": "",
        "format": "A4",
        "zoom": 100,
        "orientation": "Portrait",
        "width": "",
        "height": "",
        "marginTop": 1,
        "marginLeft": 1,
        "marginBottom": 1,
        "marginRight": 1,
        "marginTopUnits": "cm",
        "marginLeftUnits": "cm",
        "marginBottomUnits": "cm",
        "marginRightUnits": "cm",
        "omitBackground": false,
        "printGraphics": true,
        "x": 550,
        "y": 60,
        "wires": [
            [
                "47b42a7a24974a1e"
            ]
        ]
    },
    {
        "id": "dc40614ad7138417",
        "type": "function",
        "z": "23535f1657c6ea9e",
        "name": "function 1",
        "func": "function generate_pdf(){\nvar html_to_pdf = require('html-pdf-node');\n\n\nlet options = { format: 'A4', args: ['--no-sandbox', '--disable-setuid-sandbox'] };\n\n\n// or //\n    let file = { url: \"http://localhost:1880/ui\" };\nreturn html_to_pdf.generatePdf(file, options).then(pdfBuffer => {console.log(\"PDF Buffer:-\", pdfBuffer);});\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1500,
        "y": 300,
        "wires": [
            [
                "daea6d2131bc3e7e",
                "fbf7be29c6e1ed81"
            ]
        ]
    },
    {
        "id": "0b924cc6b47f870f",
        "type": "ui_button",
        "z": "23535f1657c6ea9e",
        "name": "",
        "group": "21e450d9a2d822a7",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "rec",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 1210,
        "y": 380,
        "wires": [
            [
                "dc40614ad7138417",
                "22329e6605b57ad3",
                "fbf7be29c6e1ed81"
            ]
        ]
    },
    {
        "id": "22329e6605b57ad3",
        "type": "debug",
        "z": "23535f1657c6ea9e",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1500,
        "y": 460,
        "wires": []
    },
    {
        "id": "fbf7be29c6e1ed81",
        "type": "file",
        "z": "23535f1657c6ea9e",
        "name": "",
        "filename": "/home/epiphany/node-red-project/data1.txt",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1810,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "0c3fe4c4991c29d8",
        "type": "ui_button",
        "z": "23535f1657c6ea9e",
        "name": "",
        "group": "21e450d9a2d822a7",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "stop",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 1210,
        "y": 560,
        "wires": [
            [
                "90b3c79305082756"
            ]
        ]
    },
    {
        "id": "6845f8737b4c6d73",
        "type": "ui_button",
        "z": "23535f1657c6ea9e",
        "name": "",
        "group": "21e450d9a2d822a7",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "print",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 1230,
        "y": 640,
        "wires": [
            [
                "050048d579cba32b"
            ]
        ]
    },
    {
        "id": "90b3c79305082756",
        "type": "debug",
        "z": "23535f1657c6ea9e",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1400,
        "y": 600,
        "wires": []
    },
    {
        "id": "050048d579cba32b",
        "type": "debug",
        "z": "23535f1657c6ea9e",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1400,
        "y": 700,
        "wires": []
    },
    {
        "id": "554eb5f2daeb956e",
        "type": "ui_gauge",
        "z": "23535f1657c6ea9e",
        "name": "",
        "group": "d902cc9563c63eeb",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge1",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 520,
        "y": 160,
        "wires": []
    },
    {
        "id": "3da3048c2b929f50",
        "type": "inject",
        "z": "23535f1657c6ea9e",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 220,
        "y": 700,
        "wires": [
            [
                "0a68932d42ce6e7c"
            ]
        ]
    },
    {
        "id": "0a68932d42ce6e7c",
        "type": "change",
        "z": "23535f1657c6ea9e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 700,
        "wires": [
            [
                "f611d19822dd3c02"
            ]
        ]
    },
    {
        "id": "f611d19822dd3c02",
        "type": "debug",
        "z": "23535f1657c6ea9e",
        "name": "debug 8",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 800,
        "y": 700,
        "wires": []
    },
    {
        "id": "88c5ad58c34ddf51",
        "type": "inject",
        "z": "23535f1657c6ea9e",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "savedData",
        "payloadType": "flow",
        "x": 240,
        "y": 760,
        "wires": [
            [
                "edf6ff2fe8c6a6d9"
            ]
        ]
    },
    {
        "id": "edf6ff2fe8c6a6d9",
        "type": "debug",
        "z": "23535f1657c6ea9e",
        "name": "debug 9",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 760,
        "wires": []
    },
    {
        "id": "fd0a42f44f39e558",
        "type": "csv",
        "z": "23535f1657c6ea9e",
        "name": "",
        "sep": ",",
        "hdrin": "",
        "hdrout": "none",
        "multi": "one",
        "ret": "\\n",
        "temp": "time,value",
        "skip": "0",
        "strings": true,
        "include_empty_strings": "",
        "include_null_values": "",
        "x": 290,
        "y": 480,
        "wires": [
            [
                "0d77a6e92c8f549e"
            ]
        ]
    },
    {
        "id": "0d77a6e92c8f549e",
        "type": "file",
        "z": "23535f1657c6ea9e",
        "name": "",
        "filename": "/home/epiphany/node-red-project/data1.csv",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 590,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "5144292e6f36ed96",
        "type": "Number",
        "z": "4f80bafe1d2212d3",
        "name": "Random Number",
        "minimum": "0",
        "maximum": "100",
        "roundTo": "2",
        "Floor": true,
        "x": 810,
        "y": 240,
        "wires": [
            [
                "97fb29ab7e245ee9"
            ]
        ]
    },
    {
        "id": "b98f86996ff095f2",
        "type": "ui_gauge",
        "z": "4f80bafe1d2212d3",
        "name": "",
        "group": "cb9e59c850f133b9",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "test auto",
        "label": "units",
        "format": "{{msg.nilai_sensor}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 180,
        "y": 700,
        "wires": []
    },
    {
        "id": "dafaf12ef6886032",
        "type": "ui_button",
        "z": "4f80bafe1d2212d3",
        "name": "",
        "group": "cb9e59c850f133b9",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Start Simulation",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "1",
        "payloadType": "num",
        "topic": "topic",
        "topicType": "msg",
        "x": 140,
        "y": 240,
        "wires": [
            [
                "d1653e089d6f9651"
            ]
        ]
    },
    {
        "id": "47a1bb57bcaa890d",
        "type": "ui_text",
        "z": "4f80bafe1d2212d3",
        "group": "cb9e59c850f133b9",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "kondisi",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 600,
        "y": 340,
        "wires": []
    },
    {
        "id": "f00e891a4cd00cfc",
        "type": "ui_button",
        "z": "4f80bafe1d2212d3",
        "name": "",
        "group": "cb9e59c850f133b9",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Stop",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "0",
        "payloadType": "num",
        "topic": "topic",
        "topicType": "msg",
        "x": 110,
        "y": 300,
        "wires": [
            [
                "d1653e089d6f9651"
            ]
        ]
    },
    {
        "id": "d1653e089d6f9651",
        "type": "switch",
        "z": "4f80bafe1d2212d3",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "null"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 270,
        "y": 300,
        "wires": [
            [
                "0efde5f7842973b3"
            ],
            [
                "0efde5f7842973b3"
            ],
            []
        ]
    },
    {
        "id": "0efde5f7842973b3",
        "type": "function",
        "z": "4f80bafe1d2212d3",
        "name": "function 4",
        "func": "\nif (msg.payload == 1) {\n    msg.payload = 1\n\n}\nelse if (msg.payload == 0)\n(msg.payload = 0)\nelse{msg.payload==null}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 300,
        "wires": [
            [
                "47a1bb57bcaa890d",
                "cd487deadbe789d5"
            ]
        ]
    },
    {
        "id": "cd487deadbe789d5",
        "type": "trigger",
        "z": "4f80bafe1d2212d3",
        "name": "",
        "op1": "true",
        "op2": "0",
        "op1type": "bool",
        "op2type": "str",
        "duration": "-2",
        "extend": true,
        "overrideDelay": true,
        "units": "s",
        "reset": "0",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 620,
        "y": 280,
        "wires": [
            [
                "346c35d88e3a742e",
                "5144292e6f36ed96"
            ]
        ]
    },
    {
        "id": "346c35d88e3a742e",
        "type": "debug",
        "z": "4f80bafe1d2212d3",
        "name": "debug 10",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 780,
        "y": 280,
        "wires": []
    },
    {
        "id": "7318c028589e9666",
        "type": "ui_chart",
        "z": "4f80bafe1d2212d3",
        "name": "",
        "group": "cb9e59c850f133b9",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "chart test",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "cubic",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": true,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 180,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "552dc482aa8a2184",
        "type": "function",
        "z": "4f80bafe1d2212d3",
        "name": "conditional",
        "func": "if(msg.nilai_sensor<50)\n{\n    msg.status = ' less than 50'\n}\nelse{\n    msg.status = 'Value OKE'\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 190,
        "y": 600,
        "wires": [
            [
                "fac30f3f24ba8791"
            ]
        ]
    },
    {
        "id": "fac30f3f24ba8791",
        "type": "ui_text",
        "z": "4f80bafe1d2212d3",
        "group": "cb9e59c850f133b9",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "value gauge",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 430,
        "y": 600,
        "wires": []
    },
    {
        "id": "a66d90e28aabbfa7",
        "type": "debug",
        "z": "4f80bafe1d2212d3",
        "name": "debug 11",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 380,
        "y": 420,
        "wires": []
    },
    {
        "id": "406e6ef933164825",
        "type": "inject",
        "z": "4f80bafe1d2212d3",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "sensor",
        "payloadType": "flow",
        "x": 140,
        "y": 80,
        "wires": [
            [
                "2754e4991af2ee15"
            ]
        ]
    },
    {
        "id": "2754e4991af2ee15",
        "type": "debug",
        "z": "4f80bafe1d2212d3",
        "name": "debug 12",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 380,
        "y": 80,
        "wires": []
    },
    {
        "id": "12b8556e77ee16c5",
        "type": "function",
        "z": "4f80bafe1d2212d3",
        "name": "function 5",
        "func": "var sensor = flow.get('sensor');\n\nreturn {payload:sensor};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 160,
        "wires": [
            [
                "5890c3d2aafbc230"
            ]
        ]
    },
    {
        "id": "b62c6cf4c1ea626a",
        "type": "ui_button",
        "z": "4f80bafe1d2212d3",
        "name": "",
        "group": "cb9e59c850f133b9",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Record",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "1",
        "payloadType": "num",
        "topic": "topic",
        "topicType": "msg",
        "x": 120,
        "y": 160,
        "wires": [
            [
                "12b8556e77ee16c5"
            ]
        ]
    },
    {
        "id": "949c2cac8012bad8",
        "type": "ui_table",
        "z": "4f80bafe1d2212d3",
        "group": "cb9e59c850f133b9",
        "name": "",
        "order": 7,
        "width": 0,
        "height": 0,
        "columns": [],
        "outputs": 1,
        "cts": true,
        "x": 690,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "5890c3d2aafbc230",
        "type": "function",
        "z": "4f80bafe1d2212d3",
        "name": "function 6",
        "func": "msg.payload = [\n    {\n        'time_stamp' : new Date(msg.payload).toLocaleTimeString(),\n        'value' : msg.sensor.toFixed(2)\n    }\n];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 160,
        "wires": [
            [
                "949c2cac8012bad8"
            ]
        ]
    },
    {
        "id": "97fb29ab7e245ee9",
        "type": "function",
        "z": "4f80bafe1d2212d3",
        "name": "function 7",
        "func": "var d = new Date();\nvar date = d.getHours() + '/' + d.getMinutes() + '/' + d.getSeconds();\nmsg.date = date\nvar data = date+\",\"+msg.payload\n\nmsg.data_all = data\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1000,
        "y": 240,
        "wires": [
            [
                "e84ea076e0e5d9aa"
            ]
        ]
    },
    {
        "id": "098df1663c177198",
        "type": "change",
        "z": "4f80bafe1d2212d3",
        "name": "value sensor",
        "rules": [
            {
                "t": "set",
                "p": "sensor",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 190,
        "y": 420,
        "wires": [
            [
                "a66d90e28aabbfa7"
            ]
        ]
    },
    {
        "id": "f2a189edf3e8568c",
        "type": "debug",
        "z": "4f80bafe1d2212d3",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 180,
        "y": 540,
        "wires": []
    },
    {
        "id": "9ca5c23dfceb174a",
        "type": "file",
        "z": "4f80bafe1d2212d3",
        "name": "",
        "filename": "/home/epiphany/node-red-project/log/log.csv",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 910,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "e84ea076e0e5d9aa",
        "type": "link out",
        "z": "4f80bafe1d2212d3",
        "name": "out_function7",
        "mode": "link",
        "links": [
            "94640e3c489b3afa"
        ],
        "x": 1125,
        "y": 240,
        "wires": []
    },
    {
        "id": "94640e3c489b3afa",
        "type": "link in",
        "z": "4f80bafe1d2212d3",
        "name": "link in 1",
        "links": [
            "e84ea076e0e5d9aa"
        ],
        "x": 45,
        "y": 500,
        "wires": [
            [
                "098df1663c177198",
                "f2a189edf3e8568c",
                "552dc482aa8a2184",
                "7318c028589e9666",
                "b98f86996ff095f2",
                "4d1372fbdbbb23a6"
            ]
        ]
    },
    {
        "id": "4d1372fbdbbb23a6",
        "type": "function",
        "z": "4f80bafe1d2212d3",
        "name": "function 8",
        "func": "var now = new Date();\nmsg.payload = msg.data_all\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 220,
        "y": 480,
        "wires": [
            [
                "5002c0bb57cb2f22"
            ]
        ]
    },
    {
        "id": "5002c0bb57cb2f22",
        "type": "csv",
        "z": "4f80bafe1d2212d3",
        "name": "tabel_csv",
        "sep": ",",
        "hdrin": false,
        "hdrout": "once",
        "multi": "one",
        "ret": "\\n",
        "temp": "timestamp,value",
        "skip": "0",
        "strings": true,
        "include_empty_strings": "",
        "include_null_values": "",
        "x": 480,
        "y": 520,
        "wires": [
            [
                "9ca5c23dfceb174a"
            ]
        ]
    }
]