testing_pdf.json
[{"id":"3f3e8d68.e20be6","type":"inject","z":"cd5c1a60.5d5a68","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"/path/to/folder","payloadType":"str","x":160,"y":160,"wires":[["a1b9372d.3a9c28"]]},{"id":"a1b9372d.3a9c28","type":"file in","z":"cd5c1a60.5d5a68","name":"","filename":"","format":"","chunk":false,"sendError":false,"encoding":"none","x":330,"y":160,"wires":[["e65c4a7.3f0d4b8"]]},{"id":"e65c4a7.3f0d4b8","type":"change","z":"cd5c1a60.5d5a68","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t   \"images\": [],\t   \"text\": \"\"\t}"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":160,"wires":[["c94f1e3d.e9d9c"]]},{"id":"c94f1e3d.e9d9c","type":"function","z":"cd5c1a60.5d5a68","name":"Process files","func":"var fs = global.get('fs');\nvar path = msg.payload;\n\n// Read all files in the directory\nfs.readdir(path, function(err, files) {\n    if (err) {\n        node.error(err);\n        return;\n    }\n\n    var images = [];\n    var text = \"\";\n\n    // Process each file\n    files.forEach(function(file) {\n        var fullpath = path + \"/\" + file;\n\n        // Check if the file is an image\n        if (file.match(/\\.(jpg|jpeg|png|gif)$/i)) {\n            images.push({path: fullpath, scale: 0.5});\n        }\n        // Otherwise, assume it is a text file\n        else {\n            var data = fs.readFileSync(fullpath, 'utf8');\n            text += data + \"\\n\";\n        }\n    });\n\n    // Save the results to the output message\n    msg.payload = {images: images, text: text};\n    node.send(msg);\n});","outputs":1,"noerr":0,"initialize":"","finalize":"","x":690,"y":160,"wires":[["47f5287a.3a1278"]]},{"id":"47f5287a.3a1278","type":"pdf-encoder","z":"cd5c1a60.5d5a68","name":"","filename":"/path/to/output.pdf","format":"A4","x":890,"y":160,"wires":[[]]},{"id":"f92c9775.840b5","type":"comment","z":"cd5c1a60.5d5a68","name":"Generate PDF from folder","info":"","x":180,"y":100,"wires":[]}]
